.toolbar {
    background-color: #ededed;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-language select {
    width: 100%;
}